<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Add Drinks in Apple Health App</string>
	<key>NSHealthClinicalHealthRecordsShareUsageDescription</key>
	<string>Give us access to add drinks in Apple Health app</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>brandBlue</string>
		<key>UIImageName</key>
		<string>launchScreen</string>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
